body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.wrap {
    text-align: center;
    margin-top: 20%;
}

li {
    list-style: none;
    
}