body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #34495e;
}


.clicked {
    color : #7f8c8d;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}